import OAuthConfig from "../models/OAuthConfig";

// Discord OAuth configuration
const oauthConfig: OAuthConfig = {
  client_id: "replaceme",
  client_secret: "replaceme",
  grant_type: "authorization_code",
  redirect_uri: "http://localhost:5005/auth",
  scope: "identify guilds",
};

// Port for express server to listen for Discord response on
const listeningPort: number = 5005;

// Discord Guild ID array
const validGuilds: string[] = ["539258061081018378"];

export { oauthConfig, listeningPort, validGuilds };
